.fleet__content {
    padding: 3.5rem 0 3rem;
}

.fleet__title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: center;
}

.fleet__title--thin {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1rem;
    text-align: center;
}

.fleet__options {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.fleet__option--active {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}

.fleet__slides {
    padding-top: 1.5rem;
}

.fleet__slide {
    display: block;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
}

.fleet__slide img {
    width: 100%;
    height: 100%;
}

.fleet__specifications {
    display: none;
}

.fleet__descriptions {
    padding-top: 0.5rem;
}

.fleet__description {
    display: none;
}

.fleet__description--active {
    display: flex;
    justify-content: center;
}

.fleet__circles {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.fleet__circle {
    position: relative;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--light-black);
}

.fleet__circle--active {
    position: relative;
}

.fleet__circle--active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #FED100;
}

.fleet__button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.fleet__button button {
    width: 18rem;
    background-color: var(--yellow);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--light-black);
    padding: 1rem 2rem;
    line-height: 1rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .fleet__content {
        padding: 5rem 0;
    }

    .fleet__title {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .fleet__title--thin {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .fleet__options {
        padding-top: 3rem;
        gap: 4.5rem;
    }

    .fleet__option {
        font-size: 1.5rem;
    }

    .fleet__description {
        font-size: 1.2rem;
        font-weight: 400;
    }

    @media (min-width: 1300px) {
        .fleet__option {
            padding: 0.5rem 2rem;
            border: 1px solid #EBEBEB;
            font-size: 1.2rem;
        }

        .fleet__option--active {
            border: 1px solid #FED100;
            text-decoration: none;
        }

        .fleet__block {
            position: relative;
            padding-top: 3rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            gap: 5rem;
        }


        .fleet__block::before {
            content: url("/img/стрелочка_влево.svg");
            position: absolute;
            display: block;
            width: 1rem;
            height: 1rem;
            left: 0;
            bottom: 45%;
            transform: translate(-50%, -50%);
        }

        .fleet__block::after {
            content: url("/img/стрелочка_вправо.svg");
            position: absolute;
            display: block;
            width: 1rem;
            height: 1rem;
            right: 0;
            bottom: 45%;
            transform: translate(-50%, -50%);
        }

        .fleet__specifications {
            display: block;
        }

        .fleet__subtitle {
            padding: 2rem 0 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
        }

        .fleet__text {
            position: relative;
            padding: 1rem 0 0 1.5rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.3rem;
        }

        .fleet__text::before {
            display: block;
            width: 1rem;
            height: 1rem;
            position: absolute;
            content: url("/img/галочка_в_автопарке.svg");
            left: 0;
            bottom: 0;
            transform: translate(-50%, -50%);
        }

        .fleet__descriptions {
            display: none;
        }

        .fleet__circles {
            display: none;
        }

        .fleet__slide {
            margin: 0;
        }

        .fleet__button {
            justify-content: flex-start;
        }
    }
}