.slider__content {
    padding: 3.5rem 0 3rem;
}

.slider__title {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: center;
}

.slider__title--thin {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1rem;
    text-align: center;
}

.slider__options {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.slider__options-wrapper {
    display: inline-flex;
    gap: 1rem;
}

.slider__option-active {
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}

.slider__slides {
    padding-top: 1.5rem;
}

.slider__slide {
    display: none;
}

.slider__slide-active {
    transition: 0.5s;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.slider__image {
    max-width: 30rem;
    height: 19.5rem;
}

.slider__image img {
    width: 100%;
    object-fit: contain;
}

.slider__inner {
    display: none;
}

.slider__description {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}

.slider__circles {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.slider__circles-wrapper {
    gap: 1rem;
    display: inline-flex;
}

.slider__circle {
    position: relative;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--light-black);
}

.slider__circle--active {
    transition: 0.5s;
    position: relative;
}

.slider__circle--active::before {
    transition: 0.5s;
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #FED100;
}

.slider__button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.slider__button button {
    width: 18rem;
    background-color: var(--yellow);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--light-black);
    padding: 1rem 2rem;
    line-height: 1rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .slider__content {
        padding: 5rem 0;
    }

    .slider__title {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .slider__title--thin {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .slider__options {
        padding-top: 3rem;
        gap: 4.5rem;
    }

    .slider__option {
        font-size: 1.5rem;
    }

    .slider__description {
        font-size: 1.2rem;
        font-weight: 400;
    }

    @media (min-width: 1300px) {
        .slider__option {
            padding: 0.5rem 2rem;
            border: 1px solid #EBEBEB;
            font-size: 1.2rem;
        }

        .slider__option--active {
            border: 1px solid #FED100;
            text-decoration: none;
        }

        .slider__slides {
            position: relative;
            padding-top: 3rem;
        }

        .slider__prev {
            content: url("/img/стрелочка_влево.svg");
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 1rem;
            height: 1rem;
            transform: translate(-50%, -50%);
        }

        .slider__prev:hover {
            opacity: 0.7;
        }

        .slider__next {
            content: url("/img/стрелочка_вправо.svg");
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            width: 1rem;
            height: 1rem;
            transform: translate(-50%, -50%);
        }

        .slider__next:hover {
            opacity: 0.7;
        }

        .slider__slide {
            margin: 0;
        }

        .slider__slide-active {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 0 5rem;
            flex-direction: row-reverse;
        }

        .slider__inner {
            display: block;
            flex-basis: 0 0 49%;
        }

        .slider__image {
            margin: 0;
            flex-basis: 0 0 49%;
        }

        .slider__description {
            display: none;
        }

        .slider__subtitle {
            padding: 2rem 0 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
        }

        .slider__text {
            position: relative;
            padding: 1rem 0 0 1.5rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.3rem;
        }

        .slider__text::before {
            display: block;
            width: 1rem;
            height: 1rem;
            position: absolute;
            content: url("/img/галочка_в_автопарке.svg");
            left: 0;
            bottom: 0;
            transform: translate(-50%, -50%);
        }

        .slider__circles {
            display: none;
        }

        .slider__button {
            margin-left: 5rem;
            justify-content: flex-start;
        }
    }
}